
  /* LoginForm CSS */
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #2F243A;
  }
  
  .login-form {
    background: #0DAB76;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #48ACF0;
  }
  
  .login-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #603696;
    color: #0DAB76;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #48ACF0;
  }

  /* UserProfile CSS */
.user-profile-background {
    background-color:#0DAB76;
    width: 100vw; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 

}

.user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#48ACF0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
    margin-bottom: 250px;
  }
  
  h1 {
    margin-bottom: 2rem;
  }
  
  .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .stat-item {
    background: #2F243A;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-basis: 45%;
    color: white;
  }
  
  .stat-item h2 {
    margin-bottom: 0.5rem;
  }
  
  .stat-item p {
    font-size: 1.2rem;
    font-weight: bold;
  }

  /* Signup Form CSS */
  .signup-form-background {
    background-color: #48ACF0;
    width: 100vw; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

.signup-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0DAB76;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 2rem auto;
    margin-bottom: 250px;
  }
  
  .signup-form-container h1 {
    margin-bottom: 2rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form button {
    padding: 0.75rem;
    background-color: #2F243A;
    color: #0DAB76;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }
  
  .error-text {
    color: red;
    margin-top: 1rem;
  }
  

/* landing page dice */
.dice-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }
  
  .dice {
    width: 50px;
    height: 50px;
    position: absolute;
  }
  
  /* footer CSS */
  .footer {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /* Roll CSS */
  .dice-roller {
    text-align: center;
    height: 100vh;
    background-color: #603696;
  }
  
  .dice-type-selector {
    margin-bottom: 20px;
    margin-top: 250px;
  }
  
  .roll-dice-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  .dice {
    width: 150px; /* Adjust size according to your dice images */
    height: 150px;
  }
  
  .result {
    font-size: 2rem;
    margin-top: 10px;
  }
  
  .rolling {
    font-size: 2rem;
    margin-top: 10px;
    color: blue;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  /* Header and Navigation CSS */
header {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #0DAB76;
  }
  
  header h2 {
    margin: 0;
  }
  
  nav {
    margin-top: 1rem;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: #0DAB76;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #0DAB76;
    color: white;
  }
  
  .nav-link.active {
    background-color: #0DAB76;
    color: white;
  }
  
  
  
