/* Define common variables for colors and sizes */
:root {
  --primary-color: #48acf0;
  --secondary-color: #80d6ff;
  --accent-color: #603696;
  --background-color: #0dab76;
  --input-background: #26c5da;
  --button-background: #2f243a;
  --text-color: #0dab76;
  --box-shadow-color: rgba(13, 171, 118, 0.5);
  --hover-shadow-color: rgba(13, 171, 118, 0.8);
  --container-padding: 2rem;
  --container-margin-bottom: 250px;
  --button-padding: 0.75rem;
  --input-padding: 0.75rem;
  --border-radius: 8px;
  --shadow-inset: inset 0px -5px 10px 5px rgba(126, 56, 224, 0.15);
  --shadow-outer: 0px 5px 25px rgba(255, 255, 255, 0.2);
}

/* Background animation */
@keyframes gradientFlow {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* General container style */
.auth-container,
.signup-form-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10%;
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--accent-color), var(--primary-color));
  background-size: 400% 400%;
  animation: gradientFlow 5s ease-in-out infinite;
  margin: 0;
  height: auto;
  font-family: "Vast Shadow", serif;
}

/* Form containers */
.signup-form-container,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding: var(--container-padding);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-inset), var(--shadow-outer);
  height: auto;
  margin: 2rem auto var(--container-margin-bottom);
  animation: fadeIn 1s ease-in-out;
}

/* Title styles */
.signup-form-container h1,
.login-form h1 {
  margin-bottom: 2rem;
  text-shadow: 0 0 5px var(--accent-color);
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Form styles */
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input,
.form button,
.login-button,
.signup-button {
  margin-bottom: 1rem;
  padding: var(--input-padding);
  border-radius: 4px;
}

.form input,
.form-group input {
  border: 1px solid #ccc;
  background-color: var(--input-background);
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.form button,
.login-button,
.signup-button {
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px var(--box-shadow-color);
}

.form button:hover,
.login-button:hover,
.signup-button:hover {
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--accent-color), var(--primary-color));
  background-size: 400% 400%;
  animation: gradientFlow 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: 0 0 20px var(--hover-shadow-color);
}

/* Error text */
.error-text {
  color: red;
  margin-top: 1rem;
}

/* Form group styles */
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: var(--primary-color);
}

.check-mark{
  color: #603696;
  font-weight: 400;
  margin-left: 6px;
}

/* Responsive Media Queries */
@media (max-width: 1024px) {
  .signup-form-container, .login-form {
    padding: 1.5rem;
    margin-bottom: 200px;
  }

  .signup-form-container h1, .login-form h1 {
    font-size: 1.8rem;
  }

  .form input, .form button, .login-button, .signup-button {
    padding: 0.6rem;
  }
}

@media (max-width: 768px) {
  .signup-form-background, .login-form-container {
    padding: 8%;
  }

  .signup-form-container, .login-form {
    padding: 1rem;
    margin-bottom: 150px;
  }

  .signup-form-container h1, .login-form h1 {
    font-size: 1.5rem;
  }

  .form input, .form button, .login-button, .signup-button {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .signup-form-background, .login-form-container {
    padding: 5%;
  }

  .signup-form-container, .login-form {
    padding: 0.75rem;
    margin-bottom: 100px;
  }

  .signup-form-container h1, .login-form h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .form input, .form button, .login-button, .signup-button {
    padding: 0.4rem;
    font-size: 0.8rem;
  }
}
