.footer {
  background-color: #282c34;
  color: #0dab76;
  padding: 20px;
  text-align: center;
  position:fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 100;
  font-style: normal;
  font-size: large;
  font-family: "Vast Shadow", serif;
  letter-spacing: 5px;
  text-shadow: 0 0.5px 0.25px #0dab76, 0 0.75px 0.5px #007bff;
}

@media (max-width: 790px) {
  .footer {
    padding: 18px;
    font-size: 16px;
  }
}

@media (max-width: 675px) {
  .footer {
    padding: 16px;
    font-size: 14px;
  }
}

@media (max-width: 555px) {
  .footer {
    padding: 14px;
    font-size: 13px;
  }
}

@media (max-width: 435px) {
  .footer {
    padding: 12px;
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .footer {
    padding: 10px;
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 8px;
    font-size: 10px;
  }
}
