select {
  background-color: #0dab76;
}

button {
  background-color: #007bff;
  color: white;
}

@keyframes dice-roll {
  0% {
    transform: translateX(0);
  }
  2% {
    transform: translate(-55%, -450%) rotate(-128deg);
  }
  4% {
    transform: translate(-25%, -550%) rotate(-256deg);
  }
  6% {
    transform: translate(25%, 400%) rotate(-384deg);
  }
  10% {
    transform: translate(55%, 0%) rotate(-512deg);
  }
  15% {
    transform: translate(22%, -550%) rotate(-640deg);
  }
  22% {
    transform: translate(-10%, 400%) rotate(-768deg);
  }
  28% {
    transform: translate(-45%, -550%) rotate(-896deg);
  }
  35% {
    transform: translate(-60%, 60%) rotate(-1024deg);
  }
  43% {
    transform: translate(-40%, -60%) rotate(-1152deg);
  }
  52% {
    transform: translate(-25%, 78%) rotate(-1280deg);
  }
  62% {
    transform: translate(30%, -60%) rotate(-1408deg);
  }
  73% {
    transform: translate(60%, 0%) rotate(-1536deg);
  }
  85% {
    transform: translate(45%, -60%) rotate(-1664deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(-1800deg);
  }
}

@media (max-width: 500px) {
  .dice {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .dice-number {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .dice-type-selector {
    padding-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .die-btn {
    margin-top: 50px;
  }
}
