/* Roll CSS */
.dice-roller {
  text-align: center;
  background-color: #603696;
  padding: 10%;
  height: auto;
  width: 100%;
  background: linear-gradient(45deg, #603696, #80d6ff, #0dab76, #007bff);
  background-size: 400% 400%;
  animation: gradientFlow 5s ease infinite;
  font-family: "Vast Shadow", serif;
  text-shadow: 0 2px 1px #0dab76, 0 3px 2px #007bff, 0 5px 3px #0dab76;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dice-type-selector {
  margin-bottom: 20px;
  margin-top: 15px;
}

.roll-dice-container {
  width: auto;
  height: auto;
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  background-color: rgba(96, 54, 150, 0.3);
}


.dice-wrapper {
  position: relative;
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  width: auto;
  height: 200px;
}

.dice-number {
  position: static;
  font-size: 2rem;
  z-index: 2;
  color: white;
}

.rolling {
  font-size: 2rem;
  margin-top: 10px;
  color: blue;
}

button {
  font-size: 1rem;
  background-color: #603696;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:active {
  transform: scale(0.9);
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--accent-color), var(--primary-color));
  background-size: 400% 400%;
  animation: gradientFlow 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: 0 0 20px var(--hover-shadow-color);
}

.die-btn {
  animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  
  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}

/* DICE ANIMATION */
.roll-animation {
  animation: dice-roll 6s ease-in-out;
}

@keyframes dice-roll {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  1% {
    transform: translate(1%, -1%) rotate(0);
  }
  2% {
    transform: translate(-1%, 1%) rotate(0);
  }
  3% {
    transform: translate(1%, -1%) rotate(0);
  }
  4% {
    transform: translate(-1%, 1%) rotate(0);
  }
  5% {
    transform: translate(1%, -1%) rotate(0);
  }
  6% {
    transform: translate(-1%, 1%) rotate(0);
  }
  7% {
    transform: translate(1%, -1%) rotate(0);
  }
  8% {
    transform: translate(-1%, 1%) rotate(0);
  }
  9% {
    transform: translate(1%, -1%) rotate(0);
  }
  10% {
    transform: translate(-1%, 1%) rotate(0);
  }
  11% {
    transform: translate(1%, -1%) rotate(0);
  }
  12% {
    transform: translate(-1%, 1%) rotate(0);
  }
  13% {
    transform: translate(1%, -1%) rotate(0);
  }
  14% {
    transform: translate(-1%, 1%) rotate(0);
  }
  15% {
    transform: translate(1%, -1%) rotate(0);
  }
  16% {
    transform: translate(-1%, 1%) rotate(0);
  }
  17% {
    transform: translate(1%, -1%) rotate(0);
  }
  18% {
    transform: translate(-1%, 1%) rotate(0);
  }
  19% {
    transform: translate(1%, -1%) rotate(0);
  }
  20% {
    transform: translate(-1%, 1%) rotate(0);
  }
  21% {
    transform: translate(1%, -1%) rotate(0);
  }
  22% {
    transform: translate(-1%, 1%) rotate(0);
  }
  23% {
    transform: translate(1%, -1%) rotate(0);
  }
  24% {
    transform: translate(-1%, 1%) rotate(0);
  }
  25% {
    transform: translate(1%, -1%) rotate(0);
  }
  26% {
    transform: translate(-1%, 1%) rotate(0);
  }
  27% {
    transform: translate(1%, -1%) rotate(0);
  }
  28% {
    transform: translate(-1%, 1%) rotate(0);
  }
  29% {
    transform: translate(1%, -1%) rotate(0);
  }
  30% {
    transform: translate(-1%, 1%) rotate(0);
  }
  31% {
    transform: translate(1%, -1%) rotate(0);
  }
  32% {
    transform: translate(-1%, 1%) rotate(0);
  }
  33% {
    transform: translate(1%, -1%) rotate(0);
  }
  34% {
    transform: translate(-1%, 1%) rotate(0);
  }
  35% {
    transform: translate(1%, -1%) rotate(0);
  }
  36% {
    transform: translate(-1%, 1%) rotate(0);
  }
  37% {
    transform: translate(1%, -1%) rotate(0);
  }
  38% {
    transform: translate(-1%, 1%) rotate(0);
  }
  39% {
    transform: translate(1%, -1%) rotate(0);
  }
  40% {
    transform: translate(-1%, 1%) rotate(0);
  }
  41% {
    transform: translate(1%, -1%) rotate(0);
  }
  42% {
    transform: translate(-1%, 1%) rotate(0);
  }
  43% {
    transform: translate(1%, -1%) rotate(0);
  }
  44% {
    transform: translate(-1%, 1%) rotate(0);
  }
  45% {
    transform: translate(1%, -1%) rotate(0);
  }
  46% {
    transform: translate(-1%, 1%) rotate(0);
  }
  47% {
    transform: translate(1%, -1%) rotate(0);
  }
  48% {
    transform: translate(-1%, 1%) rotate(0);
  }
  49% {
    transform: translate(1%, -1%) rotate(0);
  }
  50% {
    transform: translate(-1%, 1%) rotate(0);
  }
  51% {
    transform: translate(1%, -1%) rotate(0);
  }
  52% {
    transform: translate(-1%, 1%) rotate(0);
  }
  53% {
    transform: translate(1%, -1%) rotate(0);
  }
  54% {
    transform: translate(-1%, 1%) rotate(0);
  }
  55% {
    transform: translate(1%, -1%) rotate(0);
  }
  56% {
    transform: translate(-1%, 1%) rotate(0);
  }
  57% {
    transform: translate(1%, -1%) rotate(0);
  }
  58% {
    transform: translate(-1%, 1%) rotate(0);
  }
  59% {
    transform: translate(1%, -1%) rotate(0);
  }
  60% {
    transform: translate(-1%, 1%) rotate(0);
  }
  61% {
    transform: translate(1%, -1%) rotate(0);
  }
  62% {
    transform: translate(-1%, 1%) rotate(0);
  }
  63% {
    transform: translate(1%, -1%) rotate(0);
  }
  64% {
    transform: translate(-1%, 1%) rotate(0);
  }
  65% {
    transform: translate(1%, -1%) rotate(0);
  }
  66% {
    transform: translate(-1%, 1%) rotate(0);
  }
  67% {
    transform: translate(1%, -1%) rotate(0);
  }
  68% {
    transform: translate(-1%, 1%) rotate(0);
  }
  69% {
    transform: translate(1%, -1%) rotate(0);
  }
  70% {
    transform: translate(-1%, 1%) rotate(0);
  }
  71% {
    transform: translate(1%, -1%) rotate(0);
  }
  72% {
    transform: translate(-1%, 1%) rotate(0);
  }
  73% {
    transform: translate(1%, -1%) rotate(0);
  }
  74% {
    transform: translate(-1%, 1%) rotate(0);
  }
  75% {
    transform: translate(1%, -1%) rotate(0);
  }
  76% {
    transform: translate(-1%, 1%) rotate(0);
  }
  77% {
    transform: translate(1%, -1%) rotate(0);
  }
  78% {
    transform: translate(-1%, 1%) rotate(0);
  }
  79% {
    transform: translate(1%, -1%) rotate(0);
  }
  80% {
    transform: translate(-1%, 1%) rotate(0);
  }
  81% {
    transform: translate(1%, -1%) rotate(0);
  }
  82% {
    transform: translate(-1%, 1%) rotate(0);
  }
  83% {
    transform: translate(1%, -1%) rotate(0);
  }
  84% {
    transform: translate(-1%, 1%) rotate(0);
  }
  85% {
    transform: translate(1%, -1%) rotate(0);
  }
  86% {
    transform: translate(-1%, 1%) rotate(0);
  }
  87% {
    transform: translate(1%, -1%) rotate(0);
  }
  88% {
    transform: translate(-1%, 1%) rotate(0);
  }
  89% {
    transform: translate(1%, -1%) rotate(0);
  }
  90% {
    transform: translate(-1%, 1%) rotate(0);
  }
  91% {
    transform: translate(1%, -1%) rotate(0);
  }
  92% {
    transform: translate(-1%, 1%) rotate(0);
  }
  93% {
    transform: translate(1%, -1%) rotate(0);
  }
  94% {
    transform: translate(-1%, 1%) rotate(0);
  }
  95% {
    transform: translate(1%, -1%) rotate(0);
  }
  96% {
    transform: translate(-1%, 1%) rotate(0);
  }
  97% {
    transform: translate(1%, -1%) rotate(0);
  }
  98% {
    transform: translate(-1%, 1%) rotate(0);
  }
  99% {
    transform: translate(1%, -1%) rotate(0);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@media (max-width: 500px) {
  .dice {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .dice-number {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .dice-type-selector {
    padding-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .die-btn {
    margin-top: 50px;
  }
}
