/* Roll CSS */
.dice-roller {
  position: relative;
  text-align: center;
  background-color: #603696;
  padding: 10%;
  height: auto;
  width: 100%;
  background: linear-gradient(45deg, #603696, #80d6ff, #0dab76, #007bff);
  background-size: 400% 400%;
  animation: gradientFlow 5s ease infinite;
  font-family: "Vast Shadow", serif;
  text-shadow: 0 1px 1px #0dab76, 0 1px 1px #007bff, 0 1px 1px #0dab76;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dice-type-selector {
  margin-bottom: 20px;
  margin-top: 15px;
}

.roll-dice-container {
  width: auto;
  height: auto;
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  background-color: #0dab76;
}


.dice-wrapper {
  position: relative;
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  width: auto;
  height: 200px;
}

.dice-number {
  position: static;
  font-size: 2rem;
  z-index: 2;
  color: white;
}

.rolling {
  font-size: 2rem;
  margin-top: 10px;
  color: blue;
}

button {
  font-size: 1rem;
  background-color: yellow;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:active {
  transform: scale(0.9);
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--accent-color), var(--primary-color));
  background-size: 400% 400%;
  animation: gradientFlow 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: 0 0 20px var(--hover-shadow-color);

}

.die-btn {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

.daily-btn{
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  
  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}


/* DICE ANIMATION */
.roll-animation {
  animation: dice-roll 6s ease-in-out;
}

@keyframes dice-roll {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  2% {
    transform: translate(2%, -2%) rotate(10deg);
  }
  4% {
    transform: translate(-2%, 2%) rotate(-10deg);
  }
  6% {
    transform: translate(3%, -3%) rotate(15deg);
  }
  8% {
    transform: translate(-3%, 3%) rotate(-15deg);
  }
  10% {
    transform: translate(4%, -4%) rotate(20deg);
  }
  12% {
    transform: translate(-4%, 4%) rotate(-20deg);
  }
  14% {
    transform: translate(5%, -5%) rotate(25deg);
  }
  16% {
    transform: translate(-5%, 5%) rotate(-25deg);
  }
  18% {
    transform: translate(4%, -4%) rotate(20deg);
  }
  20% {
    transform: translate(-4%, 4%) rotate(-20deg);
  }
  22% {
    transform: translate(3%, -3%) rotate(15deg);
  }
  24% {
    transform: translate(-3%, 3%) rotate(-15deg);
  }
  26% {
    transform: translate(2%, -2%) rotate(10deg);
  }
  28% {
    transform: translate(-2%, 2%) rotate(-10deg);
  }
  30% {
    transform: translate(1%, -1%) rotate(5deg);
  }
  32% {
    transform: translate(-1%, 1%) rotate(-5deg);
  }
  34% {
    transform: translate(2%, -2%) rotate(10deg);
  }
  36% {
    transform: translate(-2%, 2%) rotate(-10deg);
  }
  38% {
    transform: translate(3%, -3%) rotate(15deg);
  }
  40% {
    transform: translate(-3%, 3%) rotate(-15deg);
  }
  42% {
    transform: translate(4%, -4%) rotate(20deg);
  }
  44% {
    transform: translate(-4%, 4%) rotate(-20deg);
  }
  46% {
    transform: translate(5%, -5%) rotate(25deg);
  }
  48% {
    transform: translate(-5%, 5%) rotate(-25deg);
  }
  50% {
    transform: translate(4%, -4%) rotate(20deg);
  }
  52% {
    transform: translate(-4%, 4%) rotate(-20deg);
  }
  54% {
    transform: translate(3%, -3%) rotate(15deg);
  }
  56% {
    transform: translate(-3%, 3%) rotate(-15deg);
  }
  58% {
    transform: translate(2%, -2%) rotate(10deg);
  }
  60% {
    transform: translate(-2%, 2%) rotate(-10deg);
  }
  62% {
    transform: translate(1%, -1%) rotate(5deg);
  }
  64% {
    transform: translate(-1%, 1%) rotate(-5deg);
  }
  66% {
    transform: translate(2%, -2%) rotate(10deg);
  }
  68% {
    transform: translate(-2%, 2%) rotate(-10deg);
  }
  70% {
    transform: translate(3%, -3%) rotate(15deg);
  }
  72% {
    transform: translate(-3%, 3%) rotate(-15deg);
  }
  74% {
    transform: translate(4%, -4%) rotate(20deg);
  }
  76% {
    transform: translate(-4%, 4%) rotate(-20deg);
  }
  78% {
    transform: translate(5%, -5%) rotate(25deg);
  }
  80% {
    transform: translate(-5%, 5%) rotate(-25deg);
  }
  82% {
    transform: translate(4%, -4%) rotate(20deg);
  }
  84% {
    transform: translate(-4%, 4%) rotate(-20deg);
  }
  86% {
    transform: translate(3%, -3%) rotate(15deg);
  }
  88% {
    transform: translate(-3%, 3%) rotate(-15deg);
  }
  90% {
    transform: translate(2%, -2%) rotate(10deg);
  }
  92% {
    transform: translate(-2%, 2%) rotate(-10deg);
  }
  94% {
    transform: translate(1%, -1%) rotate(5deg);
  }
  96% {
    transform: translate(-1%, 1%) rotate(-5deg);
  }
  98% {
    transform: translate(2%, -2%) rotate(10deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

@media (max-width: 500px) {
  .dice {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 500px) {
  .dice-number {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .dice-type-selector {
    padding-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .die-btn {
    margin-top: 50px;
  }
}
