.dice-roller {
  position: relative;
  text-align: center;
  padding: 10%;
  height: auto;
  width: 100%;
  background: linear-gradient(45deg, #603696, #80d6ff, #0dab76, #007bff);
  background-size: 400% 400%;
  animation: gradientFlow 5s ease infinite;
  font-family: "Vast Shadow", serif;
  text-shadow: 0 1px 1px #0dab76, 0 1px 1px #007bff, 0 1px 1px #0dab76;
  border: none;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dice-type-selector {
  margin-bottom: 20px;
  margin-top: 15px;
}

.roll-dice-container {
  width: auto;
  height: auto;
  margin-top: 20%;
  margin-bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-wrapper {
  position: relative;
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  width: auto;
  height: 200px;
}

.dice-number {
  position: static;
  font-size: 2rem;
  z-index: 2;
  color: white;
}

.rolling {
  font-size: 2rem;
  margin-top: 10px;
  color: blue;
}

button {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--accent-color), var(--primary-color));
  background-size: 400% 400%;
  animation: gradientFlow 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: 0 0 20px var(--hover-shadow-color);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.row-button {
  position: absolute;
  top: 0;
}

.roll-animation {
  animation: dice-roll 6s ease-in-out;
}
